{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}学習データ追加{% endblock title %}

{% block content %}
<h2>学習データの追加</h2>
<form method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}

    <div class="text-right">
        <button type="submit" class="btn btn-primary pull-right">確定</button>
    </div>
</form>
{% endblock content %}