{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}データ管理{% endblock title %}

{% block content %}
<h2>データ管理</h2>
<a href={% url 'predict'%}>→質問へ</a>
<hr>
<div class="row">
    <div class="col col-lg-8">
        <h4>質問データ</h4>
        <ul>
            {% for item in histories %}
            <li>
                {% if item.is_labeled %}
                {% if item.is_certified %}
                [追加済・{{ item.get_labeled_question_example.is_trained|yesno:'学習済み,未学習' }}]<br>
                Q: {{ item.content_input|truncatechars:30 }}<br>
                A: {{ item.content_output|truncatechars:30 }}
                {% else %}
                [追加済・{{ item.get_labeled_question_example.is_trained|yesno:'学習済み,未学習' }}]<br>
                Q: {{ item.content_input|truncatechars:30 }}<br>
                A: <s>{{ item.content_output|truncatechars:10 }}</s>
                {{ item.get_labeled_question_example.answer.content|truncatechars:20 }}
                {% endif %}
                {% else %}
                <b>[未追加] <a href="{% url 'labeling' %}?task={{ item.pk }}"> → 学習データへ追加する</a><br>
                    Q: {{ item.content_input|truncatechars:30 }}<br>
                    A: {{ item.content_output|truncatechars:30 }}
                </b>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col col-lg-4">
        <h4>学習器の操作</h4>
        学習データ数： {{ informations.traindatasize }}<br>
        ステータス： {{ informations.status }}<br>
        最後に学習にかかった時間： {{ informations.last_elapsed_time }}<br>
        最後に学習した時の損失関数の推移：
        <img alt="last loss" src={% url 'lastloss' %} class="img-fluid" />
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="text-right">
                <button type="submit" class="btn btn-primary pull-right">学習させる</button>
            </div>
        </form>
        <hr>
        <h4>回答一覧</h4>
        <ul>
            {% for data in informations.answers %}
            <li>
                {{ data }}
            </li>
            {% endfor %}
            <a href="{% url 'addanswer' %}"> → 回答追加</a>
        </ul>
    </div>
</div>
{% endblock content %}