{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}質問{% endblock title %}

{% block content %}
<h2>質問</h2>
<a href={% url 'management'%}>→データ一覧へ</a>
<hr>
<div class="row">
    <div class="col col-lg-4">
        <h4>内容の送信</h4>
        <hr>
        <form method="post" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="text-right">
                <button type="submit" class="btn btn-primary pull-right">送信</button>
            </div>
        </form>
    </div>
    <div class="col col-lg-8">
        <h4>回答</h4>
        <hr>
        {% if result %}
        <p>{{ result.content_input}}</p>
        <p class="text-center">↓</p>
        <p>{{ result.content_output}}</p>
        {% endif %}
    </div>
</div>
</div>
{% endblock content %}